@import 'antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import 'react-multi-carousel/lib/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-rgb: 13, 173, 185;
  --primary-color: rgb(var(--primary-color-rgb));
  --hover-brightness: 0.9;
  --alpha-light-variant: 0.6;
  --primary-light-color: rgba(
    var(--primary-color-rgb),
    var(--alpha-light-variant)
  );
}

@layer base {
  html,
  body {
    font-family: 'Lato', sans-serif;
  }
}

.h1 {
  @apply font-manrope font-semibold text-6xl leading-[68px] sm:text-[40px] sm:leading-[46px];
}

.h2 {
  @apply font-manrope font-semibold text-[44px] sm:text-[32px] leading-[50px] sm:leading-[40px];
}

.h3 {
  @apply font-manrope font-semibold text-[38px] /*sm:text-[24px]*/ leading-[32px] /*sm:leading-[28px]*/;
}

.h4 {
  @apply font-manrope font-semibold text-2xl sm:text-[20px] leading-[29px] sm:leading-[24px];
}

.h5 {
  @apply font-manrope font-semibold text-xl sm:text-base md:text-base leading-[24px] sm:leading-[22px];
}

.plg {
  @apply font-lato text-lg leading-[28px];
}

.pmd {
  @apply font-lato text-base leading-6;
}

.psm {
  @apply font-lato text-sm leading-[22px];
}

.pxs {
  @apply font-lato text-[14px] leading-4;
}

a {
  color: inherit;
  text-decoration: none;
}

label {
  @apply font-lato font-semibold text-sm leading-4;
}

* {
  box-sizing: border-box;
}

.ant-input:hover,
.ant-input:focus,
.ant-input-number:hover,
.ant-input-number:focus .ant-input-affix-wrapper:hover,
.ant-picker:hover,
.ant-checkbox:hover,
.ant-date-picker-input.ant-input,
.ant-checkbox-wrapper .ant-checkbox-inner:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.ant-input:focus,
.ant-input-number:focus {
  box-shadow: lightgray !important;
}

.anticon:before {
  display: block !important;
  font-family: 'anticon' !important;
}

.ant-spin-text {
  color: var(--primary-color);
}

.ant-spin-dot-item {
  background-color: var(--primary-color) !important;
}
