:global(.ant-input:hover),
:global(.ant-input:focus),
:global(.ant-input-number:hover),
:global(.ant-input-number:focus) :global(.ant-input-affix-wrapper:hover),
:global(.ant-picker:hover),
:global(.ant-checkbox:hover),
:global(.ant-date-picker-input.ant-input),
:global(.ant-checkbox-wrapper .ant-checkbox-inner:hover) {
  border-color: var(--primary-color, #{$primaryColor}) !important;
  color: var(--primary-color, #{$primaryColor}) !important;
}
:global(.ant-input:focus),
:global(.ant-input-number:focus) {
  box-shadow: $primaryFocusBoxShadow !important;
}

:global(.anticon:before) {
  display: block !important;
  font-family: 'anticon' !important;
}

:global(.ant-spin-text) {
  color: var(--primary-color, #{$primaryColor}) !important;
}

:global(.ant-spin-dot-item) {
  background-color: var(--primary-color, #{$primaryColor}) !important;
}
